*.code-workspace
# GPG
dotfiles/gpg/.gnupg/*
!dotfiles/gpg/.gnupg/gpg.conf
!dotfiles/gpg/.gnupg/gpg-agnet.conf
!dotfiles/gpg/.gnupg/sshcontrol
# PSD
/dotfiles/psd/.config/psd/*
!/dotfiles/psd/.config/psd/psd.conf
# fish
/dotfiles/fish/.config/fish/fish_variables
/dotfiles/fish/.config/fish/functions/__*
/dotfiles/fish/.config/fish/conf.d/*

# vim: ft=sh
